body{
    background-color: rgb(127, 193, 255);
}
h1{
    text-align: center;
    color: brown;
}
.Carcasa-exterior-sup {
    position: relative;
    justify-content: center;
    width: 230px;
    height: 190px;
    background-color:rgb(212, 211, 211)
    
}
.Carcasa-inferior {
    display: flex;  
}
.Carcasa-exterior-inf-izq {
    width: 115px;
    height: 190px;
    background-color:rgb(212, 211, 211)
    
}
.Carcasa-exterior-inf-der {
    width: 115px;
    height: 190px;
    background-color:rgb(212, 211, 211)
    
}
.Carcasa-pantalla {
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
    left: 25px;
    width: 180px;
    height: 145px;
    background-color:gray
}
.Pantalla {
    display: flex;
    justify-content: center;
    position: relative;
    top: 15px;
    width: 135px;
    height: 115px;
    background-color:burlywood
}

.a-button {
    width: 30px;
    height:35px;
    transform: rotate(45deg);
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 25px;
    left: 20px;
}
.circle-red {
    background-color: red;
    width: 25px;
    height: 25px;
    border-radius: 100%;
}
.top-arrows {
    display:flex;
}
.impar {
    background-color:greenyellow;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 150%; 
}
.par {
    background-color:black;
    width: 20px;
    height: 20px;
    font-size: 150%; 
}
.impar {
    background-color:greenyellow;
    width: 20px;
    height: 20px;
    font-size: 150%; 
}
.mando {
    position: relative;
    justify-content: center;
    left:25px;
    top: 45px;
    
}
.button {
    position: relative;
    justify-content: center;
    left:25px;
    top: 0px;
}