body{
    background-color: rgb(127, 193, 255);
}
h1{
    text-align: center;
    color: brown;
}
.Carcasa-exterior {
    display:flex;
    position:relative;
    width: 230px;
    height: 380px;
    background-color:rgb(212, 211, 211)
}
.Carcasa-interior-1 {
    width: 180px;
    height: 145px;
    background-color:gray
}
.Carcasa-interior-2 {
    width: 170px;
    height: 135px;
    background-color:burlywood
}